body {
  background-color: rgba(0, 0, 0, 0.53);
  font-family: 'Candal', sans-serif;
}

.row:first-child {
  margin-top: 20px;
}

h2, h3 {
  display: block;
  padding: 5px;
}

button {
  background-color: #787878;
}

button:focus {
  outline:0;
}

#pomodoro {
  height: 300px;
  width: 300px;
  border: 5px solid #A20404;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
  cursor: pointer;
}

h1:first-child {
  margin-top: 30%;
}
