<div class="row" ng-init="Init('break'); nextPath='/'">
  <div class="col-sm-offset-4 col-sm-4 text-center">
    <h2 class="text-center">Break time</h2>
    <h3 class="text-center">
      <button ng-click='minusMinute()'><i class="fa fa-minus"></i></button>
        {{startingTime}}
      <button ng-click='addMinute()'><i class="fa fa-plus"></i></button>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <div id="pomodoro" ng-click='toggleCounter()'>
      <h1>Break</h1>
      <h1>{{counter | asMinutes}}</h1>
      <audio id="sound" src="../sounds/notification.mp3" preload="auto"></audio>
      <span class="fill" ng-style="{'height':fillHeight, 'background':fillColor }"></span>
    </div>
  </div>
</div>